# toppers
cfg*_out*
kernel_cfg*
offset*
tinet_cfg*

*.bin
*.map
*.srec
*.syms
*.timestamp

deps/
gen/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Others
set_env.sh
cp.sh
.svn
*.sublime-project
*.sublime-workspace
