/*
 *  @(#) $Id: sample1n.cfg 936 2016-05-02 11:18:27Z coas-nagasima $
 */

/*
 *  ネットワーク対応サンプルプログラム(1)の
 *  システムコンフィギュレーションファイル
 */


#include "sample1n.h"

INCLUDE("sample1.cfg");

INCLUDE("../tinet/tinet_asp.cfg");

INCLUDE("tinet_sample1n.cfg");

/* セマフォ */

CRE_SEM(SEM_TCP_SYSLOG, { TA_TPRI, 1, 1 });
CRE_SEM(SEM_NET_SEND,   { TA_TPRI, 1, 1 });
